<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <add name="tllagileDB" connectionString= " Server=DESKTOP-UU9OQDC\SQLEXPRESS;Database=tllagile_db;Trusted_Connection=True;" providerName="System.Data.Sqlclient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>